* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.person {
  background: #eeeeee;
  width: 17rem;
  padding: 1rem;
  margin: 2rem auto;
  transition: all 0.3s linear;
  border-radius: 0.3rem;
  text-align: center;
}
